/* ======== RESPONSIVE ========= */
@media (max-width: 768px) {
    .heroSec {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .heroSec .left h1 {
        font-size: 2.5rem;
    }

    .heroSec .cta-btns {
        justify-content: center;
    }
}

@media (max-width: 1000px) {
    body{
        font-size: 14px;
    }
    .navbar .right>p,
    button {
        display: none;
    }

    .navbar {
        justify-content: space-between;
        padding: 20px;
    }

    .navbar .navlinks {
        position: fixed;
        top: 0;
        left: -100%;
        width: 50vw;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-right: 1px solid #ababab;
        box-shadow: 0px 0px 10px #ababab;
        height: 100vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
        transition: left 0.3s ease;
    }

    .navbar .navlinks.active {
        left: 0;
    }

    .navbar .navlinks ul {
        flex-direction: column;
        gap: 30px;
    }

    .navbar .right {
        display: none;
    }

    .hamburger {
        display: block !important;
        font-size: 1.8rem;
        color: #0099ff;
        cursor: pointer;
        z-index: 1000;
    }

    .navbar .logo {
        display: flex;
        align-items: center;
        gap: 15px;
    }
}

@media (max-width: 600px) {
    
    body{
        font-size: 11px;
    }
    .contactPage{
        padding: 50px 10px !important;
    }
    .contactPage .left {
        max-width: 100% !important;
    }}